.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #7FFFD4;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.buttons {
  font-size: 12px;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  margin: 1px;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

h1 {
  text-align: center;
  font-family: 'Bonheur Royale', cursive;
  color: #FFD700;
}

#container {
  display: flex;
}

.side {
  background-color: red;
  min-width: 80px;
}

.grid {
  width: 40rem;
  height: 40rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cell {
  background-color: #DCDCDC;  
}

.erased {
  background-color: #DCDCDC;
}

.active {
  background-color: gray;
}

.bottom {
  background-color: red;
  position: relative;
  min-height: 80px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dot1 {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

.dot2 {
  height: 60px;
  width: 60px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}